@model LinhKienMayTinh.Models.DONDATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DONDATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENDAIDIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDAIDIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHIGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHIGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGTHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGTHANHTOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGGIAOHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGGIAOHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MAD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
