@model LinhKienMayTinh.Models.KHACHHANG

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner-->
<div class="banner-top" style="background-color:#333;">
    <div class="container">
        <h3>Đăng Ký</h3>
        <h4><a href="@Url.Action("Index","TrangChu")">Trang Chủ</a><label>/</label>Đăng Ký</h4>
        <div class="clearfix"> </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>Đăng Ký</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div>
                    @Html.LabelFor(model => model.TENKH, htmlAttributes: new { @class = "control-label col-md-2" })

                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENKH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENKH, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="margin-top:20px;">
                    @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div style="margin-top:20px;">
                    @Html.LabelFor(model => model.DIACHI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DIACHI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="margin-top:20px;">
                    @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="margin-top:20px;">
                    @Html.LabelFor(model => model.USERNAME, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="margin-top:20px;">
                    @Html.LabelFor(model => model.PASS, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="password" name="PASS" class="form-control" />
                        @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="margin-top:20px;">
                    <div class="form-group">
                        <label class="control-label col-md-2">Xác Nhận</label>
                        <div class="col-md-10">
                            <input type="password" name="XACNHAN" class="form-control" />
                            <p style="color:darkred">@ViewBag.ThongBao</p>
                        </div>
                    </div>
                </div>

                <div style="margin-top:20px;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Đăng Ký" class="btn btn-default" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}
