@using LinhKienMayTinh.Models;
@model LinhKienMayTinh.Models.KHACHHANG
@{ var session = (KHACHHANG)Session["TaiKhoan"];}
@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="banner-top" style="background-color:#333;">
    <div class="container">
        <h3>Đổi Mật Khẩu</h3>
        <h4><a href="@Url.Action("Index","TrangChu")">Trang Chủ</a><label>/</label><a href="@Url.Action("ThongTinTaiKhoan","DangKyDangNhap",new { id = session.MAKH })">Thông Tin Tài Khoản</a><label>/</label>Đổi Mật Khẩu</h4>
        <div class="clearfix"> </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MAKH)


    <div class="login">
        <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>Đổi Mật Khẩu</h3>
                <hr />
                @if (ViewBag.ChucMung == "Chúc Mừng Đã Thay Đổi Mật Khẩu Thành Công")
                {
                    <p style="color:red; font-weight:bold;font-size:15px;text-align:center;margin-top:20px;margin-bottom:20px;">@ViewBag.ChucMung</p>
                    <p style="text-align:center;"><a href="@Url.Action("ThongTinTaiKhoan","DangKyDangNhap",new { id = session.MAKH })">Trở Về Trang Thông Tin Tài Khoản</a></p>
                }
                else
                {
                    <div>
                        <p class = "control-label col-md-4">Mật Khẩu Cũ :</p>

                        <div class="col-md-8">
                            <input type="password" name="PASSWORD" class="form-control" />
                            <p>@ViewBag.MatKhau</p>
                            <p>@ViewBag.ThongBao</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div style="margin-top:20px;">
                        <p class="control-label col-md-4">Mật Khẩu Mới :</p>

                        <div class="col-md-8">
                            <input type="password" name="PASS" class="form-control" />
                            <p>@ViewBag.ThongBao</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div style="margin-top:20px;">
                        <p class="control-label col-md-4">Xác Nhận :</p>

                        <div class="col-md-8">
                            <input type="password" name="PW" class="form-control" />
                            <p>@ViewBag.ThongBao</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div style="margin-top:20px;">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Đổi Mật Khẩu" class="btn btn-default" style="width:50%;" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }

            </div>
        </div><!--end middle-->

        <div class="clearfix"></div>
    </div>
}






<style>
    input[type="submit"]:hover {
        background-color: #FAB005;
        color: #fff;
    }

    input[type="submit"] {
        border: none;
        width: 50%;
        height: 50px;
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-size: 1em;
        color: #fff;
        letter-spacing: 1px;
        outline: none;
        background: #029241;
        transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        -webkit-appearance: none;
    }

    input[type = "password"] {
        width: 100%;
        height: 35px;
    }
</style>
