@using LinhKienMayTinh.Models;
@using System.Security;
@model LinhKienMayTinh.Models.KHACHHANG
@{ var session = (KHACHHANG)Session["TaiKhoan"];}

@{
    ViewBag.Title = "Thông Tin Tài Khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/ThongTinTaiKhoan/screen.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="/Content/ThongTinTaiKhoan/user.css" type="text/css">
<link media="all" type="text/css" rel="stylesheet" href="/Content/ThongTinTaiKhoan/space.css">


<div class="banner-top" style="background-color:#333;">
    <div class="container">
        <h3>@ViewBag.Title</h3>
        <h4><a href="@Url.Action("Index","TrangChu")">Trang Chủ</a><label>/</label>Thông Tin Tài Khoản</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<div style="margin-top:50px;"></div>
<div class="spec ">
    <h3>Tài Khoản Của Bạn</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
</div>

<div id="main">
    <div class="middle">
        <div class="clanPanelB space" id="account_setting">
            <div class="bd">
                <table class="accSetting">
                    <tbody>

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.TENKH) :</th>
                            <td>@Html.DisplayFor(model => model.TENKH)</td>
                            <td class="tr"></td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.DIACHI) :</th>
                            <td>@Html.DisplayFor(model => model.DIACHI)</td>
                            <td class="tr"></td>
                        </tr>


                        <tr>
                            <th>@Html.DisplayNameFor(model => model.USERNAME) :</th>
                            <td>@Html.DisplayFor(model => model.USERNAME)</td>
                            <td class="tr"></td>
                        </tr>

                        <tr>
                            <th width="112">@Html.DisplayNameFor(model => model.PASS) :</th>
                            <td>
                                @{
                                    string pwd = "";
                                    foreach (var res in Model.PASS)
                                    {
                                        pwd += "*";
                                    }
                                }
                                <div class="pwd">@pwd</div>

                            </td>
                            <td class="tr"><a href="/doi-mat-khau/@session.MAKH">Thay đổi</a></td>
                        </tr>


                        <tr>
                            <th>@Html.DisplayNameFor(model => model.EMAIL) :</th>
                            <td>@Html.DisplayFor(model => model.DIACHI)</td>
                            <td class="tr"></td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.SDT) :</th>
                            <td>@Html.DisplayFor(model => model.SDT)</td>
                            <td class="tr nowrap"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end middle-->

    <div class="clearfix"></div>
</div>

<style>
    .tsa_div_stat {
        float: left;
        height: 20px;
        padding-right: 2px;
        width: 15px;
        /* background:url("../images/space-sprites.png") no-repeat scroll 0 0 transparent; } */
        background: url("http://cdn.garenanow.com/webmain/static/space/images/space-sprites.png") no-repeat scroll 0 0 transparent;
    }

    .tsa_div_statP {
        background-position: 0 -283px;
    }

    .tsa_div_statF {
        background-position: -30px -283px;
    }

    .middle {
        width: 100%;
    }

    .pwd {
        overflow: hidden;
        width: 40px;
        text-overflow: ellipsis;
    }
    /*.middle {
        min-width: 40%;
        max-width: 50%;
        width: 45%;
    }*/
    .clanPanelB {
        position: relative;
    }

    .accSetting th {
        font-size: 15px;
    }

    .accSetting td {
        font-size: 15px;
    }

    @@media (max-width: 998px) {
        #main {
            width: 40%;
        }
    }

    @@media (max-width: 414px) {
        #main {
            width: 40%;
        }

        .accSetting th {
            font-size: 10px;
        }

        .accSetting td {
            font-size: 10px;
        }
    }
    @@media (min-width: 998px) {
        #main {
            width: 45%;
        }
    }
</style>



