@model IEnumerable<LinhKienMayTinh.Models.QUANGCAO>

@{
    ViewBag.Title = "Quản Lý Quảng Cáo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HINHANH)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LINK)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CLASS)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ALT)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/images/@Html.DisplayFor(modelItem => item.HINHANH)" class="img-responsive" width="100" height="100" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LINK)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CLASS)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ALT)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sửa", "Edit", new { id = item.MAQC }) |
                                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.MAQC })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>

<!-- jQuery -->
<script src="~/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/Areas/Admin/Content/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
<script src="~/Areas/Admin/Content/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/Content/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Areas/Admin/Content/dist/js/sb-admin-2.js"></script>
<!-- Page-Level Demo Scripts - Tables - Use for reference -->
