@using LinhKienMayTinh.Models;
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Giỏ Hàng</title>

<script type="application/x-javascript">
     addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="/Content/TrangChu/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/Content/TrangChu/css/style.css" rel='stylesheet' type='text/css' />
<!--AJAX-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- js -->
<script src="/Content/TrangChu/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/Content/TrangChu/js/move-top.js"></script>
<script type="text/javascript" src="/Content/TrangChu/js/easing.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
</script>
<!-- start-smoth-scrolling -->
<link href="/Content/TrangChu/css/font-awesome.css" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<!--- start-rate---->
<script src="/Content/TrangChu/js/jstarbox.js"></script>
<link rel="stylesheet" href="/Content/TrangChu/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
</script>
<!---//End-rate---->
<!--font awesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
<meta property="fb:app_id" content="967203416735970" />
<!--Tắt quảng cáo somee-->
<script>
        var myVar = setInterval(function () { myTimer() }, 0);
        function myTimer() {
            var d = new Date();
            var t = d.toLocaleTimeString();
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("script[src='http://ads.mgmt.somee.com/serveimages/ad2/WholeInsert4.js']").remove();
            $("iframe[src='http://www.superfish.com/ws/userData.jsp?dlsource=hhvzmikw&userid=NTBCNTBC&ver=13.1.3.15']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("a[href='http://somee.com']").parent().remove();
            $("a[href='http://somee.com/VirtualServer.aspx']").parent().parent().parent().remove();
            $("#dp_swf_engine").remove();
            $("#TT_Frame").remove();
        }
</script>







<link href="/Content/GioHang/css/main.css" rel="stylesheet">
<link href="/Content/GioHang/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<div class="banner-top" style="background-color:#333;">
    <div class="container">
        <h3>Giỏ Hàng</h3>
        <h4><a href="@Url.Action("Index", "TrangChu")">Trang Chủ</a><label>/</label>Giỏ Hàng</h4>
        <div class="clearfix"> </div>
    </div>
</div>
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản Phẩm</td>
                        <td class="description" style="color:#fff;"></td>
                        <td class="price" style="color:#fff;">Giá</td>
                        <td class="quantity" style="color:#fff;">Số Lượng</td>
                        <td class="total" style="color:#fff;">Thành Tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        using (Html.BeginForm("CapNhatGioHang", "GioHang", new { iMASP = item.iMASP }))
                        {
                            <tr>
                                <td class="cart_product">
                                    <img src="~/images/@item.sHINHANH" alt="" width="200" height="200">
                                </td>
                                <td class="cart_description">
                                    <h4>@item.sTENSP</h4>
                                </td>
                                <td class="cart_price">
                                    <p>@String.Format("{0:0,0}", item.dDONGIA) VNĐ</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="div_soluong">
                                        <input type="number" value="@item.iSOLUONG" name="txtSoLuong" style="width:50px;height:30px;font-size:15px;border-radius:10px;" />
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@String.Format("{0:0,0}", item.dTHANHTIEN) VNĐ</p>
                                </td>
                                <td>
                                    <div>
                                        <input type="submit" value="Cập Nhật" style="height:30px;width:100px;color:#fff;background-color:#029241;float:left;border:none;" />
                                    </div>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href="@Url.Action("XoaGioHang","GioHang",new {  iMASP = item.iMASP })"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div style="clear:both;"></div>
            <nav class="nav_thongbao">
                <span id="thongbao">@ViewBag.ThongBao</span>
            </nav>
            <div class="div_tongtien">
                <span id="tongtien">Tổng Tiền</span>
            </div>
            <div class="div_thanhtien">
                <span>@String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</span>
            </div>
            <div class="clearfix"></div>
            <nav class="submit">
                <div style="text-align:center;">
                    <a href="@Url.Action("DatHang", "GioHang")">Đặt Hàng</a>
                </div>
            </nav>
        </div>
    </div>
</section> <!--/#cart_items-->

<script src="/Content/GioHang/js/jquery.js"></script>
<script src="/Content/GioHang/js/bootstrap.min.js"></script>
<script src="/Content/GioHang/js/jquery.scrollUp.min.js"></script>
<script src="/Content/GioHang/js/jquery.prettyPhoto.js"></script>
<script src="/Content/GioHang/js/main.js"></script>


<style>
    .submit {
        float: right;
        width: 150px;
        height: 40px;
        line-height: 40px;
        border: none;
        background-color: #029241;
        margin-top: 1em;
        transition: 0.5s all ease;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -o-transition: 0.5s all ease;
        margin-right: 20px;
        margin-bottom:30px;
    }

        .submit a {
            color: #fff;
        }

        .submit:hover {
            background-color: #FAB005;
        }

            .submit:hover a {
                list-style-type: none;
                text-decoration: none;
            }
</style>





   <!-- smooth scrolling -->
<script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<!-- for bootstrap working -->
<script src="/Content/TrangChu/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script type='text/javascript' src="/Content/TrangChu/js/jquery.mycart.js"></script>
<script type="text/javascript">
        $(function () {

            var goToCartIcon = function ($addTocartBtn) {
                var $cartIcon = $(".my-cart-icon");
                var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
                $addTocartBtn.prepend($image);
                var position = $cartIcon.position();
                $image.animate({
                    top: position.top,
                    left: position.left
                }, 500, "linear", function () {
                    $image.remove();
                });
            }

            $('.my-cart-btn').myCart({
                classCartIcon: 'my-cart-icon',
                classCartBadge: 'my-cart-badge',
                affixCartIcon: true,
                checkoutCart: function (products) {
                    $.each(products, function () {
                        console.log(this);
                    });
                },
                clickOnAddToCart: function ($addTocart) {
                    goToCartIcon($addTocart);
                },
                getDiscountPrice: function (products) {
                    var total = 0;
                    $.each(products, function () {
                        total += this.quantity * this.price;
                    });
                    return total * 1;
                }
            });

        });
</script>
<!-- facebook scrip-->
<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1590678804567495',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
</script>
<!-- //facebook scrip-->