@model LinhKienMayTinh.Models.SANPHAM

@{
    ViewBag.Title = "Xóa Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>
<h3>Bạn Có Chắc Chắn Xóa Sản Phẩm Này?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.Raw(Model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHANH)
            <img class="img-responsive" src="~/images/@Model.HINHANH" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYCAPNHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYCAPNHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THANHTOANTRUCTIEP)
        </dt>

        <dd>
            <div class="truncate">@Model.THANHTOANTRUCTIEP</div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <div class="truncate">@Model.URL</div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAISP.TENLOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISP.TENLOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSX.TENNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX.TENNSX)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
<!-- jQuery -->
<script src="~/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="~/Areas/Admin/Content/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
<script src="~/Areas/Admin/Content/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/Content/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="~/Areas/Admin/Content/dist/js/sb-admin-2.js"></script>
<style>
    .truncate {
        width: 270px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>