@model LinhKienMayTinh.Models.SANPHAM

@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Sẩn Phẩm</h2>

<h3>Bạn Có Thật Sự Muốn Xóa Sản Phẩm Này?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MASP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MASP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>

        <dd>
            @Html.Raw(Model.MOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>

        <dd>
            <img src="~/images/@Model.HINHANH" width="200px" height="200px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYCAPNHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYCAPNHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DONGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAISP.TENLOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISP.TENLOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NSX.TENNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NSX.TENNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHUYENMAI.TENKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHUYENMAI.TENKM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa Sản Phẩm" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "tatcasp")
        </div>
    }
</div>
