@using PagedList;
@using PagedList.Mvc;
@using LinhKienMayTinh.Models;
@model PagedList.PagedList<SANPHAM>

<div class="spec ">
    <h3>Tất Cả Sản Phẩm</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
</div>

<div class=" con-w3l">
    @foreach (var item in Model)
    {
        <div class="col-md-3 pro-1">
            <div class="col-m">
                <a href="@Url.Action("XemChiTiet","TrangChu",new { id = @item.MASP })" data-toggle="modal" data-target="#myModal17" class="offer-img">
                    <img src="~/images/@item.HINHANH" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6><a href="@Url.Action("XemChiTiet","TrangChu",new { id = @item.MASP })">@item.TENSP</a></h6>
                    </div>
                    <div class="mid-2">
                        <p> @*@<label>@item.DONGIA</label>*@<em class="item_price">@item.DONGIA</em></p>
                        <div class="block">
                            <div class="starbox small ghosting"> </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm("ThemGioHang", "GioHang", new { @id = @item.MASP, @strURL = Request.Url.ToString() }))
                    {
                    <div class="add add-2">
                        <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="~/images/of16.png">Thêm Vào Giở Hàng</button>
                    </div>
                    }
                </div>
            </div>
        </div>
    }

    <div class="clearfix"></div>
</div>
<!--Tạo link liên kết các trang-->
<div style="text-align:center;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount)
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("SanPham", "SanPham", new { page = page }))
    </div>
</div>

