<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Trang Quản Trị</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/Content/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Areas/Admin/Content/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Areas/Admin/Content/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Areas/Admin/Content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Areas/Admin/Content/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Areas/Admin/Content/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <!--Tắt quảng cáo somee-->
    <script>
        var myVar = setInterval(function () { myTimer() }, 0);
        function myTimer() {
            var d = new Date();
            var t = d.toLocaleTimeString();
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("script[src='http://ads.mgmt.somee.com/serveimages/ad2/WholeInsert4.js']").remove();
            $("iframe[src='http://www.superfish.com/ws/userData.jsp?dlsource=hhvzmikw&userid=NTBCNTBC&ver=13.1.3.15']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("a[href='http://somee.com']").parent().remove();
            $("a[href='http://somee.com/VirtualServer.aspx']").parent().parent().parent().remove();
            $("#dp_swf_engine").remove();
            $("#TT_Frame").remove();
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Trang Quản Trị</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("Logout","Login")"><i class="fa fa-sign-out fa-fw"></i> Đăng Xuất</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <p><a href="~/TrangChu/Index">thegioilinhkien.somee.com</a></p>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard fa-fw"></i> Trang Chủ</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Quản Lý Trang Chủ<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","LOAISPs")">Loại Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","NSXes")">Nhà Sản Xuất</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","QUANGCAOs")">Quảng Cáo</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index","ADMINLOGINs")" ><i class="fa fa-edit fa-fw"></i> Tài Khoản Quản Trị</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Quản Lý Khách Hàng<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","KHACHHANGs")">Tài Khoản</a>
                                </li>
                                <li>
                                    <a href="#">Đơn Đặt Hàng <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li><a href="@Url.Action("Index","DONDATHANGs")">Tất Cả Đơn Đặt Hàng</a></li>
                                        <li><a href="@Url.Action("DonDatHangDaThanhToan","DONDATHANGs")">Đơn Đặt Hàng Đã Thanh Toán</a></li>
                                        <li><a href="@Url.Action("DonDatHangChuaThanhToan","DONDATHANGs")">Đơn Đặt Hàng Chưa Thanh Toán</a></li>
                                        <li><a href="@Url.Action("DonDatHangDaGiaoHang","DONDATHANGs")">Đơn Đặt Hàng Đã Giao Hàng</a></li>
                                        <li><a href="@Url.Action("DonDatHangChuaGiaoHang","DONDATHANGs")">Đơn Đặt Hàng Chưa Giao Hàng</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Quản Lý Sản Phẩm<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Index","SP")">Tất Cả Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="#">Sản Phẩm Theo Loại <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        @Html.Action("loai", "loai")
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Admin/Content/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Areas/Admin/Content/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Areas/Admin/Content/bower_components/morrisjs/morris.min.js"></script>
    <script src="~/Areas/Admin/Content/js/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Admin/Content/dist/js/sb-admin-2.js"></script>
    <script src="~/Areas/Admin/Content/dist/js/sb-admin-2.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/Areas/Admin/Content/DangNhap/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/DangNhap/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Admin/Content/DangNhap/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Areas/Admin/Content/DangNhap/vendor/raphael/raphael.min.js"></script>
    <script src="~/Areas/Admin/Content/DangNhap/vendor/morrisjs/morris.min.js"></script>
    <script src="~/Areas/Admin/Content/DangNhap/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Admin/Content/DangNhap/dist/js/sb-admin-2.js"></script>
</body>
</html>
<marquee style="z-index: 1; left: 777px; width: 00px; position: absolute; top: -14px; height: 1000px;" scrollamount="5"