@using LinhKienMayTinh.Models;
@model List<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper RutGon(string input, int length)
{
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0,length)<text>...</text>
    }
}


    <!--content-->
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>Sản Phẩm Mới</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div class=" con-w3l">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 pro-1">
                        <div class="col-m">
                            <a href="@Url.Action("XemChiTiet","TrangChu",new { id = @item.MASP })" data-toggle="modal" data-target="#myModal17" class="offer-img">
                                <img src="~/images/@item.HINHANH" class="img-responsive" alt="">
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="@Url.Action("XemChiTiet","TrangChu",new { id = @item.MASP })">@RutGon(item.TENSP,19)</a></h6>
                                </div>
                                <div class="mid-2">
                                    <p> @*@<label>@item.DONGIA</label>*@<em class="item_price">@String.Format("{0:0,0}",item.DONGIA) VNĐ</em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @id = @item.MASP, @strURL = Request.Url.ToString() }))
                                {
                                <div class="add add-2">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="~/images/of16.png">Đặt Hàng</button>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

