@using LinhKienMayTinh.Models;
@model List<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper RutGon(string input, int length)
{
    if(input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0,length)<text>...</text>
    }
}

<!--content-->
<div class="content-mid">
    <div class="container">

        <div class="col-md-4 m-w3ls">
            <div class="col-md1 ">
                <a href="kitchen.html">
                    <img src="~/images/giam-10.jpg" style="width:370px;height:375px;" class="img-responsive img" alt="">
                    <div class="big-sa">
                        <h3>Sale <span>30% </span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls1">
            <div class="col-md ">
                <a href="hold.html">
                    <img src="~/images/giam-20.JPG" style="width:370px;height:375px;" class="img-responsive img" alt="">
                    <div class="big-sale">
                        <div class="big-sale1">
                            <h3>Big <span>Sale</span></h3>
                            <p>Tất Cả Sản Phảm Được Sale Trong Ngày</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls">
            <div class="col-md2 ">
                <a href="@Url.Action("KhuyenMai10","KhuyenMai")">
                    <img src="~/images/big-sale1.jpg" style="width:370px;height:172px;" class="img-responsive img1" alt="">
                    <div class="big-sale2">
                        <h3>Sale <span>10%</span></h3>
                    </div>
                </a>
            </div>
            <div class="col-md3 ">
                <a href="hold.html">
                    <img src="~/images/big-sale2.jpg" style="width:370px;height:172px;" class="img-responsive img1" alt="">
                    <div class="big-sale3">
                        <h3>Sale <span>20%</span></h3>                        
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Carousel
  ================================================== -->
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#"> <img class="first-slide" src="~/images/linh-kien-may-tinh.png" alt="First slide" style="width:100%;height:300px"></a>
            </div>
            <div class="item">
                <a href="#"> <img class="second-slide " src="~/images/linh-kien-may-tinh-2.png" alt="Second slide" style="width:100%;height:300px"></a>

            </div>
            <div class="item">
                <a href="#"><img class="third-slide " src="~/images/s2.jpg" alt="Third slide" style="width:100%;height:300px;"></a>
            </div>
        </div>
    </div>
</div>
    <!-- /.carousel -->
    <!--content-->
    <div class="product">
        <div class="container">
            <div class="spec ">
                <h3>Sản Phẩm Mới</h3>
                <div class="ser-t">
                    <b></b>
                    <span><i></i></span>
                    <b class="line"></b>
                </div>
            </div>
            <div class=" con-w3l">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 pro-1">
                        <div class="col-m">
                            <a href="@Url.Action("XemChiTiet","TrangChu",new { id = @item.MASP })" data-toggle="modal" data-target="#myModal17" class="offer-img">
                                <img src="~/images/@item.HINHANH" class="img-responsive" alt="">
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="@Url.Action("XemChiTiet","TrangChu",new { id = @item.MASP })">@RutGon(item.TENSP,18)</a></h6>
                                </div>
                                <div class="mid-2">
                                    <p> @*@<label>@item.DONGIA</label>*@<em class="item_price">@String.Format("{0:0,0}",item.DONGIA) VNĐ</em></p>
                                    <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @id = @item.MASP, @strURL = Request.Url.ToString() }))
                                {
                                <div class="add add-2">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="~/images/of16.png">Đặt Hàng</button>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>

